<div class="coaf-form">
    <form class="ui form">
        <h4>Search existing contracts</h4>
       <!--<div>&nbsp;</div>
        <div class="six wide field">
            <input type="text" #coaf placeholder="Enter the Contract Reference">
        </div>
-->
        <div _ngcontent-c4="" class="m-input-container g-container" style="margin-top:50px;">
                    <div _ngcontent-c4="" class="g-row">
                        <div _ngcontent-c4="" class="col-s-2 col-m-2">
                            <label style="text-align:left;" _ngcontent-c4="" class="a-input-label">Enter the Contract Reference:</label>
                        </div>
                        <div _ngcontent-c4="" class="col-s-6 col-m-5">
                            <div _ngcontent-c4="" class="input-content">
                                <input type="text" #coaf placeholder="">
                            </div>
                        </div>
                    </div>
                </div>


        <button class="a-btn a-btn-m a-btn-primary" style="margin-left: 100px;margin-top:0;" (click)="getcontract(coaf.value)">Search</button>

    </form>
</div>
