.coaf-form, #csd-form{
  margin-top: 5em;
  text-align:center;
}

.coaf-form button {
  margin-top: 1em;
}

.coaf-form .field{
  margin: auto !important;
}

#sp-display {
  margin-top: 2em;
  margin-left: 40%;
  margin-right: 40%;
}

.header {
  color: deepskyblue !important;
}


.form-container{
  margin: 10%;
  border-style: solid;
  border-radius: 1em;
  border-width: 1px;
  border-color: #efeff0;
  box-shadow: 0px 5px 30px -6px rgba(0,0,0,0.2);
  z-index: 500;
}

label {
  margin-top: 5% !important;
}

.coaf-form, #form{
  margin-top: 5em;
  text-align:center;
}

.coaf-form button {
  margin-top: 1em;
}

.coaf-form .field{
  margin: auto !important;

}

#display {
  margin-top: 2em;
  margin-left: 10%;
  margin-right: 10%;
}
