.coaf-form, #csd-form{
  margin-top: 5em;
  text-align:center;
}

.coaf-form button {
  margin-top: 1em;
}

.coaf-form .field{
  margin: auto !important;
}

#sp-display {
  margin-top: 2em;
  margin-left: 40%;
  margin-right: 40%;
}

.header {
  color: deepskyblue !important;
}
h4{
  text-align: left;
  color: #002b50;
    margin: 0 0 0 0;
    font-size: 24px;
    font-weight: lighter;
    text-transform: uppercase;
}
